@font-face {
  font-family: 'MinecraftRegular';               
  src: url('Images/MinecraftRegular-Bmg3.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
    
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Button + Counter untereinander */
  background: #404040; /* Hintergrundfarbe */
  overflow: hidden; /* damit keine Scrollbar beim Ziehen */
  font-family: MinecraftRegular;
  color: #fff;
}   
  
#button {
  position: relative;
  overflow: visible;
}

.particle {
  position: absolute;
  color: white;
  font-family: MinecraftRegular;
  font-weight: bold;
  font-size: 16px;
  pointer-events: none;
  user-select: none;
  animation: rise 1s ease-out forwards;
  opacity: 1;
  text-shadow: 0 0 10px #414141;
}

@keyframes rise {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x, 0px), -100px) scale(1.5);
    opacity: 0;
  }
}

.button {
  display: block;
  border: none;
  background: none;
  margin: 64px auto;
  cursor: pointer;
  padding: 0;
  z-index: 4;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  transition: transform 0.3s ease, filter 0.2s ease;
  transform: rotate(0deg); /* Button leicht gedreht */
}

  /* Größe vom Button-Image */
  .button img {
  width: 300px;
  filter: drop-shadow(5px 0px 10px rgba(0,0,0,0.7)); /* Shadow */
  transition: transform .6s cubic-bezier(.23,1,.32,1), color .6s cubic-bezier(.23,1,.32,1);
}

  /* Hover-Effekt */
  .button:hover {
  transform: scale(1.1) rotate(0deg); /* Vergrößerung beim Hover */
  filter: brightness(1.1); 
  cursor: pointer;
}

    /* Button gedrückt (Reindrücken) */
.button:active {
  transform: scale(0.9) rotate(0deg); /* Kleiner beim Klick */
}

    /* Counter-Anzeige unter dem Button */
.counter {
  font-family: MinecraftRegular;
  font-size: 3rem;
  margin: 22px auto;
  z-index: 6;
  text-shadow: 0 0 10px #fff;
  user-select: none;          /* Standard */
  -webkit-user-select: none;  /* Safari/Chrome */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE/Edge */
}

.counter-container {
  width: 500px;       
  height: 80px; 
  margin: -90px auto;
  pointer-events: none;
  display: block;
  content: "";
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  z-index: 5;
  filter: drop-shadow(5px 0px 10px rgba(0,0,0,0.7));
  background-color: #008542 !important;
  box-shadow: 0 -4px rgb(21 108 0 / 50%) inset,
    0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset,
    4px 0 rgb(21 108 0 / 50%) inset;
}

.openBtn {
  font-family: MinecraftRegular;
  font-size: 18px;
  background-color: #008542;
  color: #fff;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 0;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: unset;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  top: 20px;
  left: 20px;
}

.openBtn:before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  z-index: -1;
  background-color: #008542 !important;
  box-shadow: 0 -4px rgb(21 108 0 / 50%) inset,
    0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset,
    4px 0 rgb(21 108 0 / 50%) inset;
}

.openBtn:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.openBtn:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset,
    -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.openBtn:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

.openBtn:active {
  transform: translateY(4px);
}

.openBtn:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

 /* Close-Button */
.sidebar .closeBtn {
  font-family: MinecraftRegular;
  position: absolute;
  top: 25px;
  right: 175px;
  font-size: 25px;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  width: 2px;
  height: 2px;
}

    /* Sidebar */
.sidebar {
  font-size: 2rem;
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(17, 17, 17, 0.9);
  overflow-x: hidden;
  transition: all 0.3s ease;
  padding-top: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

    /* Sidebar Buttons */
.sidebar button {
  display: absolute;
  width: 80%;
  font-size: 16px;      
  cursor: pointer;
  transition: 0.2s;
}
.sidebar button:not(.closeBtn):not(.reset):hover {
  background: #575757;
  cursor: pointer;
 } 
  
.sidebar button:not(.closeBtn) {
  display: block;        
  width: 80%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;      
} 

.sidebar .reset {
  width: 280px;
  max-height: 80px; 
  background:#cc0000;
  border: none;   
  outline: none;
  font-family: MinecraftRegular;
  font-size: 2rem;
  color: #fff;
  padding: 10px;
  transition: transform 0.3s ease, filter 0.2s ease;
  position: absolute;
  filter: brightness(1.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  bottom: 80px;
  left: 35px;
  cursor: pointer;
}

.sidebar .reset:before {
  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  z-index: -1;
  background-color: #850000 !important;
  box-shadow: 0 -4px rgb(108, 0, 0) inset,
    0 4px rgba(253, 31, 31) inset, -4px 0 rgb(253, 31, 31) inset,
    4px 0 rgb(108, 0, 0) inset;
}

.sidebar .reset:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.sidebar .reset:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset,
    -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.sidebar .reset:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

.sidebar .reset:active {
  transform: translateY(4px);
}

.sidebar .reset:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

.sidebar .upgrade_button {
  width: 280px;
  max-height: 80px;
  border: none;   
  outline: none;
  font-family: MinecraftRegular;
  font-size: 2rem;
  color: #fff;
  padding: 20px;
  transition: transform 0.3s ease, filter 0.2s ease;
  position: absolute;
  filter: brightness(1.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 80px;
  left: 35px;
  cursor: pointer;
}

    .sidebar .upgrade_button:before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: inline-flex;
  width: 100%;
  height: 100%;
  content: "";
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  z-index: -1;
  background-color: #414141 !important;
  box-shadow: 0 -4px rgb(59, 59, 59) inset,
    0 4px rgb(102, 102, 102) inset, -4px 0 rgb(90, 90, 90) inset,
    4px 0 rgb(59, 59, 59) inset;
}

.sidebar .upgrade_button:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.sidebar .upgrade_button:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(80, 79, 79) inset,
    -4px 0 rgb(80, 79, 79) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.sidebar .upgrade_button:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

.sidebar .upgrade_button:active {
  transform: translateY(4px);
}

.sidebar .upgrade_button:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

.sidebar .auto_clicker {
  width: 280px;
  max-height: 80px;
  border: none;   
  outline: none;
  font-family: MinecraftRegular;
  color: #fff;
  font-size: 2rem;
  padding: 20px;
  transition: transform 0.3s ease, filter 0.2s ease;
  position: absolute;
  filter: brightness(1.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 175px;
  left: 35px;
  cursor: pointer;
 }

.sidebar .auto_clicker:before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  z-index: -1;
  background-color: #414141 !important;
  box-shadow: 0 -4px rgb(59, 59, 59) inset,
    0 4px rgb(102, 102, 102) inset, -4px 0 rgb(90, 90, 90) inset,
    4px 0 rgb(59, 59, 59) inset;
 }

.sidebar .auto_clicker:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.sidebar .auto_clicker:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(80, 79, 79) inset,
    -4px 0 rgb(80, 79, 79) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.sidebar .auto_clicker:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

.sidebar .auto_clicker:active {
  transform: translateY(4px);
}

.sidebar .auto_clicker:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

#credits {
   position: absolute;
   color: #585858;
   font-size: 8px;
   font-family: MinecraftRegular;
   bottom: 20px;
}
